// Name:            Base
// Description:     Sets default values for HTML elements
//
// Component:       `sb-h1`, `sb-h2`, `sb-h3`, `sb-h4`, `sb-h5`, `sb-h6`
//                  `sb-link`
//                  `sb-img-preserve`
//
// ========================================================================


// Variables
// ========================================================================

$base-body-background:                           #fff !default;
$base-body-font-family:                          "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-body-font-weight:                          normal !default;
$base-body-font-size:                            14px !default;
$base-body-line-height:                          20px !default;
$base-body-color:                                #444 !default;

$base-link-color:                                #07D !default;
$base-link-text-decoration:                      none !default;
$base-link-hover-color:                          #059 !default;
$base-link-hover-text-decoration:                underline !default;

$base-code-color:                                #D05 !default;
$base-code-font-size:                            12px !default;
$base-code-font-family:                          Consolas, monospace, serif !default;
$base-em-color:                                  #D05 !default;
$base-ins-background:                            #ffa !default;
$base-ins-color:                                 #444 !default;
$base-mark-background:                           #ffa !default;
$base-mark-color:                                #444 !default;
$base-quote-font-style:                          italic !default;

$base-margin-vertical:                           15px !default;

$base-heading-font-family:                       "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-heading-font-weight:                       normal !default;
$base-heading-color:                             #444 !default;
$base-heading-text-transform:                    none !default;
$base-heading-margin-top:                        25px !default;
$base-h1-font-size:                              36px !default;
$base-h1-line-height:                            42px !default;
$base-h2-font-size:                              24px !default;
$base-h2-line-height:                            30px !default;
$base-h3-font-size:                              18px !default;
$base-h3-line-height:                            24px !default;
$base-h4-font-size:                              16px !default;
$base-h4-line-height:                            22px !default;
$base-h5-font-size:                              14px !default;
$base-h5-line-height:                            20px !default;
$base-h6-font-size:                              12px !default;
$base-h6-line-height:                            18px !default;

$base-list-padding-left:                         30px !default;

$base-hr-margin-vertical:                        $base-margin-vertical !default;
$base-hr-border:                                 #ddd !default;
$base-hr-border-width:                           1px !default;

$base-blockquote-padding-left:                   15px !default;
$base-blockquote-border:                         #ddd !default;
$base-blockquote-border-width:                   5px !default;
$base-blockquote-font-size:                      16px !default;
$base-blockquote-line-height:                    22px !default;
$base-blockquote-font-style:                     italic !default;

$base-pre-padding:                               10px !default;
$base-pre-background:                            #f5f5f5 !default;
$base-pre-color:                                 #444 !default;
$base-pre-font-size:                             12px !default;
$base-pre-line-height:                           18px !default;
$base-pre-font-family:                           $base-code-font-family !default;

$base-selection-background:                      #39f !default;
$base-selection-color:                           #fff !default;


.sb-link {
    color: $base-link-color;
    text-decoration: $base-link-text-decoration;
    cursor: pointer;
    @include hook-base-link();
}

.sb-link:hover {
    color: $base-link-hover-color;
    text-decoration: $base-link-hover-text-decoration;
    @include hook-base-link-hover();
}

/*
 * Preserve original dimensions
 */

.sb-img-preserve,
.sb-img-preserve audio,
.sb-img-preserve canvas,
.sb-img-preserve img,
.sb-img-preserve svg,
.sb-img-preserve video { max-width: none; }


.sb-h1,
.sb-h2,
.sb-h3,
.sb-h4,
.sb-h5,
.sb-h6 {
    margin: 0 0 $base-margin-vertical 0;
    text-transform: $base-heading-text-transform;
    @include hook-base-h();
}

* + .sb-h1,
* + .sb-h2,
* + .sb-h3,
* + .sb-h4,
* + .sb-h5,
* + .sb-h6 { margin-top: $base-heading-margin-top; }


.sb-h1 {
    font-size: $base-h1-font-size;
    line-height: $base-h1-line-height;
    @include hook-base-h1();
}

.sb-h2 {
    font-size: $base-h2-font-size;
    line-height: $base-h2-line-height;
    @include hook-base-h2();
}

.sb-h3 {
    font-size: $base-h3-font-size;
    line-height: $base-h3-line-height;
    @include hook-base-h3();
}

.sb-h4 {
    font-size: $base-h4-font-size;
    line-height: $base-h4-line-height;
    @include hook-base-h4();
}

.sb-h5 {
    font-size: $base-h5-font-size;
    line-height: $base-h5-line-height;
    @include hook-base-h5();
}

.sb-h6 {
    font-size: $base-h6-font-size;
    line-height: $base-h6-line-height;
    @include hook-base-h6();
}